.first {
	display: inline-grid;
	row-gap: 20px;

	font-size: 18px;
	font-weight: 500;
	color: var(--grey);

	li {
		cursor: pointer;

		display: grid;
		grid-auto-flow: column;
		column-gap: 20px;
		align-items: center;
		justify-content: left;
	}
}

.active,
.first li:hover {
	color: var(--violet);

	svg {
		fill: var(--violet);
	}
}

.second {
	display: grid;
	row-gap: 10px;

	margin: -6px 0 0 12px;
	padding: 9px 0 9px 32px;

	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;

	border-left: 1px solid #dfdfdf;
}

.thrid {
	margin-top: 3px;

	font-size: 14px;
	font-weight: 500;
	text-transform: none;

	/* stylelint-disable-next-line no-descending-specificity */
	li {
		margin-bottom: 10px;
	}
}
