.item {
	cursor: pointer;

	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 20px;
	align-items: center;

	margin-bottom: 22px;

	font-size: 18px;
	font-weight: 500;

	&:hover {
		color: var(--violet);

		svg {
			fill: var(--violet);
		}
	}
}
