* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	&:focus {
		outline-color: var(--grey);
	}
}

body {
	color: var(--dark-grey);
	background-color: #f5f6f8;
}

ul {
	list-style-type: none;
}

.active {
	color: var(--violet) !important;

	svg {
		fill: var(--violet);
	}
}

:root {
	--violet: #724ffc;
	--dark-grey: #3b434e;
	--grey: #6b7076;
}
