.wrapper {
	margin-top: 13px;

	a {
		display: block;

		margin-bottom: 10px;

		font-size: 14px;
		font-weight: 500;
		color: var(--grey-dark);
		text-decoration: none;

		&:hover {
			color: var(--violet);
		}
	}
}
